### PyArrow Vs Pandas

#### Install Packages

In [1]:
!pip uninstall pyarrow -y
!pip install pyarrow

Found existing installation: pyarrow 3.0.0
Uninstalling pyarrow-3.0.0:
  Successfully uninstalled pyarrow-3.0.0
Collecting pyarrow
  Downloading pyarrow-6.0.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25.6 MB)
     |████████████████████████████████| 25.6 MB 1.8 MB/s
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-6.0.1

#### Importing Packages

In [2]:
from matplotlib import pyplot as plt
from datetime import datetime

In [3]:
import pyarrow.csv as csv
import seaborn as sns
import pyarrow as pa
import pandas as pd
import numpy as np
import warnings
import string
import random
import os

#### Configuring Warnings

In [4]:
warnings.simplefilter("ignore")

In [5]:
os.listdir()

['.config', 'sample_data']

In [6]:
# path = "data/"

In [7]:
# os.listdir(path)

#### Function to generate text

In [8]:
def gen_random_string(length: int = 32) -> str:
    return ''.join(random.choices(string.ascii_uppercase + string.digits, k=length))

#### Range Definition

In [9]:
dt = pd.date_range(
    start=datetime(2000, 1, 1),
    end=datetime(2021, 1, 1),
    freq='min'
)

In [10]:
np.random.seed = 42
df_size = len(dt)
print(f'Dataset length: {df_size}')

Dataset length: 11046241

#### Creating DataFrame

In [11]:
df = pd.DataFrame({
    'date': dt,
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size),
    'str1': [gen_random_string() for x in range(df_size)],
    'str2': [gen_random_string() for x in range(df_size)]
})

In [12]:
df.head()

                 date  ...                              str2
0 2000-01-01 00:00:00  ...  L01TEOAPLPVHPCHFDAB1TN6G71BI767O
1 2000-01-01 00:01:00  ...  0RMTUQGFSGOTJW862TKNVTY3KP9KQVS4
2 2000-01-01 00:02:00  ...  Q3CZZBHHONZGYXM9RPSHUJJKKO3D5TDH
3 2000-01-01 00:03:00  ...  6XSOKHIPC79LCSAIYMGX68G0LPL5M2AL
4 2000-01-01 00:04:00  ...  19OLSZCD37EC3ZJRJFB29K5KXS63B6K8

[5 rows x 8 columns]

In [13]:
df.tail()

                        date  ...                              str2
11046236 2020-12-31 23:56:00  ...  CDOBMNAV69BDS71VOAYCMHK3DA65L0SW
11046237 2020-12-31 23:57:00  ...  JN2MAU8BINOZWXGYP7LB33SU315B51ZG
11046238 2020-12-31 23:58:00  ...  60XO2PTYPL11TN2LGJ4KAYC03NIYUCEM
11046239 2020-12-31 23:59:00  ...  H65UINMWYHCUD03Z76ZGEKWHRM0JZ3GB
11046240 2021-01-01 00:00:00  ...  VH7YDQ05M556LNVA9J5B4B20L4DEESBT

[5 rows x 8 columns]

#### Writing with Pandas

In [ ]:
pd_write_list = []
for pwl in range(50):
    time_start = datetime.now()
    df.to_csv('csv_pandas.csv', index=False, sep=';', header=True)
    time_end = datetime.now()
    w_pd_csv = time_end - time_start
    pd_write_list.append(w_pd_csv.seconds)
    print("Tempo decorrido: {} ou {} segundos.".format(w_pd_csv, w_pd_csv.seconds))

Tempo decorrido: 0:02:24.540605 ou 144 segundos.
Tempo decorrido: 0:02:28.776844 ou 148 segundos.
Tempo decorrido: 0:02:36.361247 ou 156 segundos.
Tempo decorrido: 0:02:31.485221 ou 151 segundos.
Tempo decorrido: 0:02:34.269429 ou 154 segundos.
Tempo decorrido: 0:02:35.732874 ou 155 segundos.

#### Writing with Pandas and Compression

In [ ]:
pd_gz_write_list = []
for pgwl in range(50):
    time_start = datetime.now()
    df.to_csv('csv_pandas.csv.gz', index=False, sep=';', header=True, compression='gzip')
    time_end = datetime.now()
    w_pd_csv_gz = time_end - time_start
    pd_gz_write_list.append(w_pd_csv_gz.seconds)
    print("Tempo decorrido: {} ou {} segundos.".format(w_pd_csv_gz, w_pd_csv_gz.seconds))

#### Reading with Pandas

In [ ]:
pd_read_list = []
for prl in range(50):
    time_start = datetime.now()
    df1 = pd.read_csv('csv_pandas.csv', sep=';')
    time_end = datetime.now()
    r_pd_csv = time_end - time_start
    pd_read_list.append(r_pd_csv.seconds)
    print("Tempo decorrido: {} ou {} segundos.".format(r_pd_csv, r_pd_csv.seconds))

#### Reading with Pandas and Compression

In [ ]:
pd_gz_read_list = []
for pgrl in range(50):
    time_start = datetime.now()
    df2 = pd.read_csv('csv_pandas.csv.gz', sep=';')
    time_end = datetime.now()
    r_pd_csv_gz = time_end - time_start
    pd_gz_read_list.append(r_pd_csv_gz.seconds)
    print("Tempo decorrido: {} ou {} segundos.".format(r_pd_csv_gz, r_pd_csv_gz.seconds))

#### Creating a copy of the DataFrame

In [ ]:
df_pa = df.copy()
df_pa['date'] = df_pa['date'].values.astype(np.int64) // 10 ** 9

In [ ]:
df_pa.head()

In [ ]:
df_pa.tail()

#### Transforming DataFrame to Table

In [ ]:
df_pa_table = pa.Table.from_pandas(df_pa)

#### Writing with PyArrow

In [ ]:
pa_write_list = []
for pawl in range(50):
    time_start = datetime.now()
    csv.write_csv(df_pa_table, 'csv_pyarrow.csv')
    time_end = datetime.now()
    w_pa_csv = time_end - time_start
    pa_write_list.append(w_pa_csv.seconds)
    print("Tempo decorrido: {} ou {} segundos.".format(w_pa_csv, w_pa_csv.seconds))

#### Writing with PyArrow and Compression

In [ ]:
pa_gz_write_list = []
for pagwl in range(50):
    with pa.CompressedOutputStream('csv_pyarrow.csv.gz', 'gzip') as out:
        time_start = datetime.now()
        csv.write_csv(df_pa_table, out)
        time_end = datetime.now()
        w_pa_csv_gz = time_end - time_start
        pa_gz_write_list.append(w_pa_csv_gz.seconds)
        print("Tempo decorrido: {} ou {} segundos.".format(w_pa_csv_gz, w_pa_csv_gz.seconds))

#### Reading with PyArrow

In [ ]:
pa_read_list = []
for parl in range(50):
    time_start = datetime.now()
    df_pa_1 = csv.read_csv('csv_pyarrow.csv')
    time_end = datetime.now()
    r_pa_csv = time_end - time_start
    pa_read_list.append(r_pa_csv.seconds)
    print("Tempo decorrido: {} ou {} segundos.".format(r_pa_csv, r_pa_csv.seconds))

#### Reading with PyArrow and Compression

In [ ]:
pa_gz_read_list = []
for pagrl in range(50):
    time_start = datetime.now()
    df_pa_2 = csv.read_csv('csv_pyarrow.csv.gz')
    time_end = datetime.now()
    r_pa_csv_gz = time_end - time_start
    pa_gz_read_list.append(r_pa_csv_gz.seconds)
    print("Tempo decorrido: {} ou {} segundos.".format(r_pa_csv_gz, r_pa_csv_gz.seconds))

#### Creating a Write DataFrame with Results

In [ ]:
write = {"write": ["pd_csv", "pd_csv_gz", "pa_csv", "pa_csv_gz"],
         "values": [w_pd_csv.seconds, w_pd_csv_gz.seconds, w_pa_csv.seconds, w_pa_csv_gz.seconds]}
df_write = pd.DataFrame(write)

In [ ]:
df_write

#### Plotting the Results

In [ ]:
sns.barplot(x=df_write["write"], y=df_write["values"], data=df_write)
plt.title("Análise do tempo de escrita entre Pandas e PyArrow")
plt.xlabel("Arquivos Escritos")
plt.ylabel("Tempo da escrita em Segundos")
plt.show()

#### Creating a Read DataFrame

In [ ]:
read = {"read": ["pd_csv", "pd_csv_gz", "pa_csv", "pa_csv_gz"],
        "values": [r_pd_csv.seconds, r_pd_csv_gz.seconds, r_pa_csv.seconds, r_pa_csv_gz.seconds]}
df_read = pd.DataFrame(read)

In [ ]:
df_read

#### Plotting the Results

In [ ]:
sns.barplot(x=df_read["read"], y=df_read["values"], data=df_read)
plt.title("Análise do tempo de leitura entre Pandas e PyArrow")
plt.xlabel("Arquivos Lidos")
plt.ylabel("Tempo da leitura em Segundos")
plt.show()

#### Comparing Write Method between Pandas and PyArrow

In [ ]:
plt.plot(pd_write_list)
plt.plot(pa_write_list)
plt.title("Análise do tempo de escrita entre Pandas e PyArrow")
plt.xlabel("Quantidade de Repetições de Escrita")
plt.ylabel("Tempo da escrita em segundos")
plt.show()

#### Comparing Write Method between Pandas and PyArrow with Compression

In [ ]:
plt.plot(pd_gz_write_list)
plt.plot(pa_gz_write_list)
plt.title("Análise do tempo de escrita com compressão entre Pandas e PyArrow")
plt.xlabel("Quantidade de Repetições de Escrita com Compressão")
plt.ylabel("Tempo da escrita com compressão em segundos")
plt.show()

#### Comparing Read Method between Pandas and PyArrow

In [ ]:
plt.plot(pd_read_list)
plt.plot(pa_read_list)
plt.title("Análise do tempo de leitura entre Pandas e PyArrow")
plt.xlabel("Quantidade de Repetições de Leitura")
plt.ylabel("Tempo da leitura em segundos")
plt.show()

#### Comparing Read Method between Pandas and PyArrow with Compression

In [ ]:
plt.plot(pd_gz_read_list)
plt.plot(pa_gz_read_list)
plt.title("Análise do tempo de leitura com compressão entre Pandas e PyArrow")
plt.xlabel("Quantidade de Repetições de Leitura com Compressão")
plt.ylabel("Tempo da leitura com compressão em segundos")
plt.show()

### References

##### https://towardsdatascience.com/stop-using-pandas-to-read-write-data-this-alternative-is-7-times-faster-893301633475